 input{
     border: none;
     border-bottom: 2px solid black;
     font-family: monospace;
     font-size: large;
     text-align: center;
     background: none;
     color: #FFFFFF;
     background: #333333;
     text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
 }
 img{
     width: 50px;
 }
 div{
    position: absolute;
    left: 30%;
    top: 40%;     
    margin: 0 auto;
 }
 body{
     background-image: url('background.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }