 input{
     border: none;
     border-bottom: 2px solid black;
     font-family: monospace;
     font-size: large;
     text-align: center;
 }
 img{
     width: 50px;
 }
 div{
    position: absolute;
    left: 30%;
    top: 40%;     
    margin: 0 auto;
 }